*{padding: 0;margin: 0;}
body{background: #ccc;}
.box{ width: 500px;
	  height: 320px;
	  background: url(../img/小灵.jpg) no-repeat;
	  background-size: cover; 
	
	  position: relative;
	  border:#fff solid 5px;
	  box-shadow: 0 0 5px #000;
	  float: left;
	  margin: 30px;

 }
.box p{width: 480px;
	   height: 30px;
	   background: rgba( 0,0,0,0.5);
       position: absolute;
       bottom: 0;
       color: #fff;
       line-height: 30px;
       padding-left: 20px;
}
a{display: block;
       width: 500px;
	   height: 320px;
	   background: url(../img/少司命1.jpg);
	   background-size: cover;
       float: right;
       margin: 50px;

}
a:hover{
  width: 490px;
  height: 300px;
  background-size: cover;
  border: 5px solid #fff;
  box-shadow: 0 0 10px #000;

}